@import "./variables.scss";

.app {
  font-family: sans-serif;
  &__header {
    text-align: center;
    h1 {
      font-size: 3rem;
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column-reverse;
    width: 100%;
    @include desktopAndUp {
      flex-direction: row;
    }
  }
}

.board {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    @include desktopAndUp {
      width: 65%;
    }
  }
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background: blue;
  display: flex;
  flex-direction: column;
  &__row {
    display: flex;
    &__odd {
      flex-direction: row-reverse;
    }
  }
  &__step {
    position: relative;
    box-sizing: border-box;
    padding: 0.15rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
    span {
      display: block;
      z-index: 1000;
    }
    &__red {
      background: red;
    }
    &__white {
      background: white;
    }
  }

  // @include tabletAndUp {
  //   width: 700px;
  //   height: 700px;
  //   &__step {
  //     width: 70px;
  //     height: 70px;
  //     font-size: 1.75rem;
  //   }
  // }

  // @include desktopAndUp {
  //   width: 650px;
  //   height: 650px;
  //   &__step {
  //     width: 65px;
  //     height: 65px;
  //   }
  // }

  // @include largeDesktopAndUp {
  //   width: 800px;
  //   height: 800px;
  //   &__step {
  //     width: 80px;
  //     height: 80px;
  //     font-size: 2.5rem;
  //   }
  // }
}

.tools {
  width: 100%;
  @include desktopAndUp {
    width: 35%;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;

  &__current,
  &__players,
  &__history {
    width: 100%;
  }
}

.ladder {
  position: absolute;
  img {
    width: 50px;
  }
}

// ladder 1 mobile
.ladder-1 {
  bottom: 20%;
  left: 100%;
  transform: rotate(33deg);
  z-index: 999;

  img {
    width: 50px;
    height: 160px;
  }
}

.ladder-4 {
  bottom: -50%;
  left: 160%;
  transform: rotate(70deg);
  z-index: 999;
  img {
    height: 140px;
  }
}

.ladder-8 {
  bottom: 10%;
  left: 100%;
  transform: rotate(45deg);
  z-index: 999;
  img {
    height: 120px;
  }
}

.ladder-21 {
  bottom: 50%;
  left: 50%;
  transform: rotate(25deg);
  z-index: 999;
  img {
    height: 90px;
  }
}

.ladder-28 {
  bottom: -45%;
  left: -249%;
  transform: rotate(-45deg);
  z-index: 999;
  background: url("./assets/ladder.png");
  background-repeat: repeat-y;
  background-size: 100% 33.3%;
  height: 330px;
  width: 50px;
  img {
    height: 330px;
    display: none;
  }
}

.ladder-50 {
  bottom: -20%;
  left: -136%;
  transform: rotate(-53deg);
  z-index: 999;
  img {
    height: 165px;
  }
}

.ladder-71 {
  bottom: 55%;
  left: -50%;
  transform: rotate(-24deg);
  z-index: 999;
  img {
    height: 85px;
  }
}

.ladder-80 {
  bottom: 55%;
  left: 50%;
  transform: rotate(24deg);
  z-index: 999;
  img {
    height: 85px;
  }
}

.snake {
  position: absolute;
  img {
    width: 30px;
  }
}

.snake-32 {
  top: 50%;
  left: 30%;
  z-index: 1000;
  transform: rotate(10deg);
  img {
    width: 80px;
    height: 150px;
  }
}

.snake-36 {
  top: 50%;
  left: 30%;
  z-index: 1000;
  transform: rotate(10deg);
  img {
    width: 80px;
    height: 150px;
  }
}

.snake-48 {
  top: 30%;
  left: -135%;
  z-index: 1000;
  transform: rotate(78deg);
  img {
    width: 80px;
    height: 110px;
  }
}

.snake-62 {
  top: 50%;
  left: 24%;
  z-index: 1000;
  transform: rotate(10deg);
  img {
    width: 100px;
    height: 250px;
  }
}

.snake-88 {
  top: -20%;
  left: -270%;
  z-index: 1000;
  transform: rotate(50deg);
  img {
    width: 120px;
    height: 360px;
  }
}

.snake-95 {
  top: 45%;
  left: -100%;
  z-index: 1000;
  transform: rotate(40deg);
  img {
    width: 80px;
    height: 210px;
  }
}

.snake-97 {
  top: 45%;
  left: -62%;
  z-index: 1000;
  transform: rotate(60deg);
  img {
    width: 80px;
    height: 100px;
  }
}

.tools {
  &__current {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    &__player {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 50px;
        height: 50px;
        margin-bottom: 5px;
      }
      padding: 0.25rem;
      &__colorcode {
        height: 8px;
        width: 100%;

        &.brown {
          background: brown;
        }
        &.orange {
          background: orange;
        }
        &.yellow {
          background: yellow;
        }
        &.green {
          background: green;
        }
        &.light-green {
          background: lightgreen;
        }
        &.blue {
          background: blue;
        }
        &.purple {
          background: purple;
        }
      }
    }
  }
}
